<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invicibledevs.elixir" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".helper.Elixir"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ServiceReceiptActivity"
            android:label="@string/title_activity_service_receipt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LeadsActivity"
            android:label="@string/leads"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OTWActivity"
            android:label="@string/title_activity_otw"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OTWListActivity"
            android:label="@string/title_activity_otwlist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".model.CaptureSignatureActivity"
            android:label="@string/title_activity_capture_signature"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CaptureSignatureMain"
            android:label="@string/title_activity_capture_signature_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CMSActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CMSListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaymentEntryActivity"
            android:label="@string/paymententry"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaymentReportActivity"
            android:label="@string/payment_report"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PolicyListActivity"
            android:label="@string/send_policy"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddPolicyActivity"
            android:label="@string/title_activity_add_policy"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AgentPaymentEntryActivity"
            android:label="@string/title_activity_agent_payment_entry"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PhotosPolicyActivity"
            android:label="@string/title_activity_photos_policy"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ReceiveFilesActivity"
            android:label="@string/title_activity_receive_files"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ExecutiveReportActivity"
            android:label="@string/title_activity_executive_report"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
